<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
    <link rel="stylesheet" href="/styles/form.css">
</head>

<body>
    <div class="form-container">
        <h2>Sign up</h2>
        <div class="actual-form">
            <form action="/users/sign-up" method="post">

                <div class="formGroup">
                    <!-- <label for="fname">First Name</label> -->
                    <input type="text" placeholder="First Name" name="fname" required>

                </div>

                <div class="formGroup">
                    <!-- <label for="lname">Last Name</label> -->
                    <input type="text" placeholder="Last Name" name="lname" required>

                </div>
                <div class="formGroup">
                    <!-- <label for="username">Username</label> -->
                    <input type="text" placeholder="username" name="username" autocomplete="off" required>

                </div>

                <div class="formGroup">
                    <!-- <label for="password">Password</label> -->
                    <input type="text" placeholder="password" type="password" name="password" autocomplete="off"
                        required>
                    <br>
                    <label for="password">*Note : Create something strong</label>

                </div>
                <div>
                    <button type="submit">Sign up</button>

                </div>


            </form>
        </div>

    </div>

</body>

</html>